<p-card>
    <ng-template pTemplate="header">
        <div class="header-content">
            <h3 class="title">{{ 'JOINED_GROUPS.TITLE' | translate }}</h3>
            <div class="button-group">
                <p-button [label]="'JOINED_GROUPS.CREATE_GROUP' | translate" icon="pi pi-plus" (click)="onCreateGroup()" />
                <p-button [label]="'JOINED_GROUPS.JOIN_GROUP' | translate" icon="pi pi-users" (click)="onJoinGroup()" />
            </div>
        </div>
    </ng-template>

    @if (store.loading()) {
    <div class="loading-container">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>{{ 'JOINED_GROUPS.LOADING' | translate }}</p>
    </div>
    } @else if (store.error()) {
    <div class="error-container">
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
        <p>{{ store.error() }}</p>
    </div>
    } @else {
    <p-table [value]="store.groups()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Group Name</th>
                <th style="width: 150px">Members</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
            <tr>
                <td>
                    <a class="group-link" (click)="navigateToGroup(group.id)">
                        {{ group.name }}
                    </a>
                </td>
                <td>{{ group.memberCount }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" class="text-center">
                    <div class="empty-state">
                        <i class="pi pi-users" style="font-size: 3rem; color: var(--text-color-secondary)"></i>
                        <p>{{ 'JOINED_GROUPS.NO_GROUPS' | translate }}</p>
                        <p-button [label]="'JOINED_GROUPS.JOIN_FIRST_GROUP' | translate" icon="pi pi-users" (click)="onJoinGroup()" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    }
</p-card>

<p-dialog [(visible)]="showCreateGroupDialog" [modal]="true" [dismissableMask]="true" [closable]="true"
    [draggable]="false" [resizable]="false" styleClass="create-group-dialog" (onHide)="onCreateDialogHide()">
    <ng-template pTemplate="header">
        <span class="dialog-title">{{ 'JOINED_GROUPS.CREATE_NEW_DIALOG' | translate }}</span>
    </ng-template>
    <div class="dialog-content">
        <attn-create-group (groupCreated)="onGroupCreated($event)" />
    </div>
</p-dialog>

<p-dialog [(visible)]="showJoinGroupDialog" [modal]="true" [dismissableMask]="true" [closable]="true"
    [draggable]="false" [resizable]="false" styleClass="join-group-dialog" (onHide)="onJoinDialogHide()">
    <ng-template pTemplate="header">
        <span class="dialog-title">{{ 'JOINED_GROUPS.JOIN_GROUP_DIALOG' | translate }}</span>
    </ng-template>
    <div class="dialog-content">
        @if (showJoinGroupDialog) {
        <attn-all-groups />
        }
    </div>
</p-dialog>