<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p class="copyright">© {{ year }} Attendr. {{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}</p>
            <div class="footer-links">
                <a href="/">{{ 'FOOTER.HOME' | translate }}</a>
                <a href="/system-info">{{ 'FOOTER.SYSTEM_INFORMATION' | translate }}</a>
                <a href="/disclaimer">{{ 'FOOTER.DISCLAIMER' | translate }}</a>
                <a href="/terms">{{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
            </div>
        </div>
    </div>
</footer>