<div class="private-template">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <a class="brand" routerLink="/">
                <img src="/images/attendr-logo-flat.png" alt="Attendr Logo" class="small" />
            </a>
        </ng-template>

        <ng-template pTemplate="end">
            <div class="header-actions">
                <attn-notifications-button />
                <div class="account">
                    <p-menu #accountMenu [model]="accountItems" [popup]="true"></p-menu>
                    <button class="icon-button" type="button" (click)="toggleAccountMenu($event)"
                        aria-label="Account menu">
                        <i class="pi pi-user"></i>
                    </button>
                </div>
            </div>
        </ng-template>
    </p-menubar>

    @if (profileStore.loading()) {
    <div class="loading-container">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="4" animationDuration=".5s" />
        <p>Loading your profile...</p>
    </div>
    } @else if (profileStore.error()) {
    <div class="error-container">
        <p-message severity="error" [text]="profileStore.error() ?? 'An error occurred'" />
    </div>
    } @else if (profileStore.isLoaded()) {
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    }
</div>