<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ModulePaths>
            <Include>
              <ModulePath>.*HexMaster\.Attendr\.Notifications\.dll$</ModulePath>
            </Include>
            <Exclude>
              <ModulePath>.*Abstractions.*</ModulePath>
              <ModulePath>.*\.Api\..*</ModulePath>
              <ModulePath>.*\.Data\..*</ModulePath>
              <ModulePath>.*\.Tests\..*</ModulePath>
              <ModulePath>.*Profiles.*</ModulePath>
              <ModulePath>.*IntegrationEvents.*</ModulePath>
              <ModulePath>.*\.Core\..*</ModulePath>
              <ModulePath>.*Aspire.*</ModulePath>
            </Exclude>
          </ModulePaths>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
