<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <Assembly>HexMaster.Attendr.Notifications.dll</Assembly>
          </Include>
          <Exclude>
            <Assembly>HexMaster.Attendr.Notifications.Api.dll</Assembly>
            <Assembly>HexMaster.Attendr.Notifications.Abstractions.dll</Assembly>
            <Assembly>HexMaster.Attendr.Notifications.Data.TableStorage.dll</Assembly>
            <Assembly>HexMaster.Attendr.Notifications.Tests.dll</Assembly>
            <Assembly>HexMaster.Attendr.Profiles.*.dll</Assembly>
            <Assembly>HexMaster.Attendr.IntegrationEvents.dll</Assembly>
            <Assembly>HexMaster.Attendr.Core.dll</Assembly>
            <Assembly>HexMaster.Attendr.Aspire.*.dll</Assembly>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
