<div class="preferences-layout">
    <div class="preferences-header">
        <h1>{{ 'PREFERENCES.TITLE' | translate }}</h1>
        <p>{{ 'PREFERENCES.SUBTITLE' | translate }}</p>
    </div>

    <div class="preferences-tabs">
        <a routerLink="/app/preferences/account" class="tab-link" [class.active]="isActive('account')">
            <i class="pi pi-user"></i>
            <span>{{ 'PREFERENCES.TAB_ACCOUNT' | translate }}</span>
        </a>
        <a routerLink="/app/preferences/topics" class="tab-link" [class.active]="isActive('topics')">
            <i class="pi pi-tags"></i>
            <span>{{ 'PREFERENCES.TAB_FOCUS_AREAS' | translate }}</span>
        </a>
        <a routerLink="/app/preferences/notifications" class="tab-link" [class.active]="isActive('notifications')">
            <i class="pi pi-bell"></i>
            <span>{{ 'PREFERENCES.TAB_NOTIFICATIONS' | translate }}</span>
        </a>
    </div>

    <div class="preferences-content">
        <router-outlet></router-outlet>
    </div>
</div>