<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <Assembly>HexMaster.Attendr.Groups.dll</Assembly>
          </Include>
          <Exclude>
            <Assembly>HexMaster.Attendr.Groups.Abstractions.dll</Assembly>
            <Assembly>HexMaster.Attendr.Groups.Api.dll</Assembly>
            <Assembly>HexMaster.Attendr.Groups.Data.Postgress.dll</Assembly>
            <Assembly>HexMaster.Attendr.Groups.Tests.dll</Assembly>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
