<div class="bug-report-button-container">
    <p-popover #bugReportPanel styleClass="bug-report-popover">
        <div class="bug-report-panel">
            <div class="bug-report-header">
                <i class="pi pi-bug" style="font-size: 2.5rem; margin-bottom: 0.5rem; color: var(--orange-500);"></i>
                <h3>{{ 'BUG_REPORT.TITLE' | translate }}</h3>
            </div>

            <div class="bug-report-content">
                <p>{{ 'BUG_REPORT.DESC1' | translate }}</p>
                <p>{{ 'BUG_REPORT.DESC2' | translate }}</p>
            </div>

            <button pButton type="button" icon="pi pi-external-link" [label]="'BUG_REPORT.CREATE_ISSUE' | translate" class="w-full"
                (click)="createIssue()">
            </button>
        </div>
    </p-popover>

    <button class="icon-button bug-report-button" type="button" (click)="toggleBugReport($event)"
        aria-label="Report a bug" [pTooltip]="'BUG_REPORT.TOOLTIP' | translate" tooltipPosition="bottom">
        <i class="pi pi-wrench"></i>
    </button>
</div>