<div class="topics-page">
    <div class="container">
        <div class="header-section">
            <div class="header-row">
                <div>
                    <h1>{{ 'TOPICS.PAGE_TITLE' | translate }}</h1>
                    <p class="subtitle">{{ 'TOPICS.PAGE_SUBTITLE' | translate }}</p>
                </div>
                <button pButton type="button" [label]="'TOPICS.ADD_TOPIC' | translate" icon="pi pi-plus" (click)="openCreate()"></button>
            </div>
        </div>

        @if (loading()) {
        <div class="loading-container">
            <p-progressSpinner />
            <p>{{ 'TOPICS.LOADING' | translate }}</p>
        </div>
        } @else if (error()) {
        <div class="error-container">
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
            <p>{{ error() }}</p>
        </div>
        } @else if (topics().length === 0) {
        <div class="empty-state">
            <i class="pi pi-inbox" style="font-size: 3rem"></i>
            <p>{{ 'TOPICS.NO_TOPICS' | translate }}</p>
        </div>
        } @else {
        <div class="topics-table">
            <p-table [value]="topics()">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="key" class="key-header">
                            {{ 'TOPICS.NORMALIZED_KEY_HEADER' | translate }}
                            <p-sortIcon field="key"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" class="hide-on-mobile name-header">
                            {{ 'TOPICS.NAME_HEADER' | translate }}
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isVisible" class="visibility-header">
                            <span class="hide-on-mobile">{{ 'TOPICS.VISIBILITY_HEADER' | translate }}</span>
                            <p-sortIcon field="isVisible"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-topic>
                    <tr>
                        <td class="key-column">
                            <button class="link-button" type="button" (click)="openEdit(topic)" [pTooltip]="topic.key"
                                tooltipPosition="bottom">
                                <code class="key-text">{{ topic.key }}</code>
                            </button>
                        </td>
                        <td class="hide-on-mobile name-column">{{ topic.name }}</td>
                        <td class="visibility-column">
                            <p-tag class="clickable hide-on-desktop" [value]="getVisibilityIcon(topic.isVisible)"
                                [severity]="getVisibilitySeverity(topic.isVisible)" (click)="toggleVisibility(topic)"
                                [pTooltip]="topic.isVisible ? ('TOPICS.CLICK_TO_HIDE' | translate) : ('TOPICS.CLICK_TO_SHOW' | translate)"
                                tooltipPosition="bottom" />
                            <p-tag class="clickable hide-on-mobile" [value]="getVisibilityLabel(topic.isVisible)"
                                [severity]="getVisibilitySeverity(topic.isVisible)" (click)="toggleVisibility(topic)"
                                [pTooltip]="topic.isVisible ? ('TOPICS.CLICK_TO_HIDE' | translate) : ('TOPICS.CLICK_TO_SHOW' | translate)"
                                tooltipPosition="bottom" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        }
    </div>
</div>

<p-dialog [header]="'TOPICS.ADD_TOPIC_DIALOG' | translate" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true"
    [visible]="createDialogVisible()" (onHide)="onCreateCancel()" styleClass="create-topic-dialog">
    <attn-create-topic #createTopicRef (save)="onCreateSave($event)" (cancel)="onCreateCancel()" />
</p-dialog>

<p-dialog [header]="'TOPICS.EDIT_TOPIC_DIALOG' | translate" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true"
    [visible]="editDialogVisible()" (onHide)="onEditCancel()" styleClass="edit-topic-dialog">
    @if (selectedTopic()) {
    <attn-edit-topic [topic]="selectedTopic()!" (save)="onEditSave($event)" (delete)="onEditDelete()"
        (cancel)="onEditCancel()" />
    }
</p-dialog>

<attn-confirmation-dialog [title]="'TOPICS.DELETE_DIALOG_TITLE' | translate"
    [message]="'TOPICS.DELETE_DIALOG_MESSAGE' | translate"
    [visible]="confirmDeleteVisible()" (visibleChange)="confirmDeleteVisible.set($event)" (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()" />