<div class="topics-page">
    <div class="container">
        <div class="header-section">
            <h1>Topics Management</h1>
            <p class="subtitle">Manage presentation topics and their visibility</p>
        </div>

        @if (loading()) {
        <div class="loading-container">
            <p-progressSpinner />
            <p>Loading topics...</p>
        </div>
        } @else if (error()) {
        <div class="error-container">
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
            <p>{{ error() }}</p>
        </div>
        } @else if (topics().length === 0) {
        <div class="empty-state">
            <i class="pi pi-inbox" style="font-size: 3rem"></i>
            <p>No topics available</p>
        </div>
        } @else {
        <div class="topics-table">
            <p-table [value]="topics()">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="key" class="key-header">
                            Normalized Key
                            <p-sortIcon field="key"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" class="hide-on-mobile name-header">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isVisible" class="visibility-header">
                            <span class="hide-on-mobile">Visibility</span>
                            <p-sortIcon field="isVisible"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-topic>
                    <tr>
                        <td class="key-column">
                            <button class="link-button" type="button" (click)="openEdit(topic)" [pTooltip]="topic.key"
                                tooltipPosition="bottom">
                                <code class="key-text">{{ topic.key }}</code>
                            </button>
                        </td>
                        <td class="hide-on-mobile name-column">{{ topic.name }}</td>
                        <td class="visibility-column">
                            <p-tag class="clickable hide-on-desktop" [value]="getVisibilityIcon(topic.isVisible)"
                                [severity]="getVisibilitySeverity(topic.isVisible)" (click)="toggleVisibility(topic)"
                                [pTooltip]="topic.isVisible ? 'Click to hide' : 'Click to show'"
                                tooltipPosition="bottom" />
                            <p-tag class="clickable hide-on-mobile" [value]="getVisibilityLabel(topic.isVisible)"
                                [severity]="getVisibilitySeverity(topic.isVisible)" (click)="toggleVisibility(topic)"
                                [pTooltip]="topic.isVisible ? 'Click to hide' : 'Click to show'"
                                tooltipPosition="bottom" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        }
    </div>
</div>

<p-dialog header="Edit Topic" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true"
    [visible]="editDialogVisible()" (onHide)="onEditCancel()" styleClass="edit-topic-dialog">
    @if (selectedTopic()) {
    <attn-edit-topic [topic]="selectedTopic()!" (save)="onEditSave($event)" (delete)="onEditDelete()"
        (cancel)="onEditCancel()" />
    }
</p-dialog>

<attn-confirmation-dialog [title]="'Delete Topic'"
    [message]="'Are you sure you want to delete this topic? This action cannot be undone.'"
    [visible]="confirmDeleteVisible()" (visibleChange)="confirmDeleteVisible.set($event)" (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()" />