<p-card styleClass="section-card">
    <ng-template pTemplate="header">
        <div class="section-header">
            <h2>Followed Conferences</h2>
            <p-tag [value]="conferences().length.toString()" severity="info"></p-tag>
        </div>
    </ng-template>
    @if (conferences().length > 0) {
    <div class="conferences-list">
        @for (conference of conferences(); track conference.id) {
        <div class="conference-item">
            <div class="conference-info">
                <i class="pi pi-calendar"></i>
                <div class="conference-details">
                    <span class="conference-name">{{ conference.name }}</span>
                    <span class="conference-location">
                        <i class="pi pi-map-marker"></i>
                        {{ conference.location }}
                    </span>
                    <span class="conference-dates">
                        {{ conference.startDate | date: 'mediumDate' }} - {{ conference.endDate | date: 'mediumDate' }}
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
    } @else {
    <div class="empty-state-small">
        <i class="pi pi-calendar"></i>
        <p>No followed conferences yet</p>
    </div>
    }
</p-card>